<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top">
    <div class="main_menu_bg">
      <div class="container">
        <div class="row">
          <app-user-navbar></app-user-navbar>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container" style="margin-top: 10rem;margin-bottom: 5rem;">
      <div *ngFor="let unit of unitsAndLessons" class="unit-container">
        <div class="unit-title-container">
          <h1 class="desktop-unit-title">
            <mat-icon>view_headline</mat-icon>
            Unidad {{unit.order}} - {{ unit.name }}
          </h1>
          <h1 class="mobile-unit-title">
            <mat-icon>view_headline</mat-icon>
            <span>Unidad {{unit.order}}</span>  
            <span>{{ unit.name }}</span>
          </h1>
        </div>
        <div *ngFor="let lesson of unit.lessons" class="unit-body-container">
          <h3 class="lesson-container">
            <div class="lesson-container-inside">
              <mat-icon class='lesson-icon-checked' *ngIf="isLessonViewed(lesson.id); else playIcon">check</mat-icon>
              <ng-template #playIcon>
                <mat-icon class="lesson-icon">play_arrow</mat-icon>
              </ng-template>
              <div class="progression-bar" [ngStyle]="{
                         'width': isLessonViewed(lesson.id) ? '1.8rem' : getDivWidth(lesson.id),
                         'display': getDivDisplay(lesson.id),
                         'border-color': isLessonViewed(lesson.id) ? '#55c98f' : 'blue'
                       }">
              </div>
            </div>
            <a (click)="goToLesson(unit.id, lesson.lesson_order)">Lección {{lesson.lesson_order}}: {{ lesson.title}}</a>
          </h3>
        </div>
        <hr>
        <div *ngFor="let exam of unit.exams">
          <h3 class="lesson-container">
            <mat-icon class="lesson-icon">play_arrow</mat-icon>
            <a (click)="goToExam(unit.id,exam.id)">Examen {{exam.exam_order}}: {{ exam.title }}</a>
          </h3>
        </div>
      </div>
    </div>
  </section>


  <app-footer></app-footer>