/* confetti.css */
@keyframes confettiFall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--color);
  top: calc(-10px + 8rem); /* Ajusta la posición inicial */
  animation: confettiFall linear infinite;
  z-index: 9999;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.text-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: -webkit-fill-available;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}

.congratulation-text{
  font-size: 4rem;
  font-weight: bold;
}

.completed-text{
  font-size: 1.5rem;
  color: #000000ba;
}

.mark-container{
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mark-container b{
  font-size: 6rem;
}

