<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">            
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                 <app-user-navbar></app-user-navbar>
                </div>

            </div>

        </div>
    </header> <!--End of header -->






  



    <section id="service" class="service" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_service_area">
                        <div class="main_service_content">
                            <div class="service_tabe">

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="webdesign">
                                        <div class="single_service_tab">
                                            <div class="row" style='margin-top: 20% !important;'>
                                                <div class="col-sm-6">
                                                    <div class="single_tab_content">
                                                        <div class="head_title">
                                                            <h3>Acerca de Nosotros</h3>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <p>Nuestra plataforma educativa en línea es una innovadora creación de los estudiantes del segundo trayecto de Informática de la Universidad Politécnica Territorial de Paria "Luis Mariano Rivera". Nos dedicamos a proporcionar herramientas efectivas y accesibles para el aprendizaje en línea, enfocándonos en alojar videos educativos y facilitar la creación y gestión de evaluaciones en línea. Nuestra misión es empoderar a profesores y estudiantes, brindándoles una plataforma que no solo promueva el conocimiento, sino que también fomente la interacción y la colaboración en el ámbito educativo.</p>
                                                        <a href="" class="btn btn-primary">EMPIEZA YA</a>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="single_tab_img">
                                                        <img src="img/aboutUs.png" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="appdesign">
                                        <div class="single_service_tab">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="single_tab_content">
                                                        <div class="head_title">
                                                            <h3>WEB DESIGN Two</h3>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                            distribution of letters, as opposed to using 'Content here, content here', making it 
                                                            look like readable English. Many desktop publishing packages and web page editors now use 
                                                            Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="single_tab_img">
                                                        <img src="assets/images/featureslid1.jpg" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="graphicdesign">
                                        <div class="single_service_tab">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="single_tab_content">
                                                        <div class="head_title">
                                                            <h3>Nuestra Meta</h3>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <p> Aspiramos a revolucionar la educación en línea, brindando herramientas innovadoras que enriquezcan la experiencia de aprendizaje. Nuestro compromiso es ofrecer una plataforma inclusiva y accesible, donde tanto profesores como estudiantes puedan maximizar su potencial y alcanzar sus objetivos académicos.</p>

                                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="single_tab_img">
                                                        <img src="assets/images/stab1.png" alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="gamedesign">
                                        <div class="single_service_tab">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="single_tab_content">
                                                        <div class="head_title">
                                                            <h3>Nuestro Logro</h3>
                                                            <div class="separator"></div>
                                                        </div>
                                                        <p>

                                                            Innovación en Educación: Hemos desarrollado una plataforma única que integra videos educativos y evaluaciones en línea, facilitando el proceso de enseñanza y aprendizaje.
                                                        </p>
                                                        <p>
                                                            Crecimiento y Expansión: Nuestra comunidad educativa ha crecido significativamente, con un número creciente de estudiantes y profesores que utilizan nuestra plataforma.

                                                        </p>
                                                            <p>
                                                            Reconocimiento Académico: Nuestro proyecto ha sido reconocido en diversos foros académicos por su impacto positivo en la educación digital.
                                                            </p>

                                                        <a href="" class="btn btn-primary">LEARN MORE</a>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="single_tab_img">
                                                        <img src="assets/images/featureslid1.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <!--                                                        <div id="pentagon"></div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <div class="row">

                <div class="main_about_area sections">
                    <div class="col-sm-12">

                        <div class="main_about_content">
                            <div class="row">

                                <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms" style="width: 100%;">
                                    <div class="single_about_right_content">
                                        <div class="head_title">
                                            <h3>Visión del Sistema</h3>
                                            <div class="separator"></div>
                                        </div>

                                        <div class="single_about">
                                            <div class="single_ab_icon">
                                                <div class="ab_border_right"></div>
                                                <i class="fa fa-heartbeat"></i>
                                            </div>
                                            <div class="single_ab_text">
                                                <h3>Nuestra Misión</h3>
                                                <p>En la U.P.T.P "Luis Mariano Rivera", nuestro objetivo es proporcionar una plataforma educativa en línea que permita a los estudiantes y profesores conectarse y colaborar de manera efectiva. Creada por estudiantes del segundo trayecto de informática, nuestra misión es facilitar el acceso al conocimiento a través de videos educativos y evaluaciones en línea personalizadas.</p>
                                            </div>
                                        </div>
                                        <div class="single_about">
                                            <div class="single_ab_icon">

                                                <i class="fa fa-connectdevelop"></i>
                                            </div>
                                            <div class="single_ab_text">
                                                <h3>Nuestra Meta</h3>
                                                <p>Aspiramos a revolucionar la educación en línea, brindando herramientas innovadoras que enriquezcan la experiencia de aprendizaje. Nuestro compromiso es ofrecer una plataforma inclusiva y accesible, donde tanto profesores como estudiantes puedan maximizar su potencial y alcanzar sus objetivos académicos.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="single_about">
                                            <div class="single_ab_icon">
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="single_ab_text">
                                                <h3>Nuestro Logro</h3>
                                                <p>Queremos desarrollar una plataforma única que integra videos educativos y evaluaciones en línea, facilitando el proceso de enseñanza y aprendizaje.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_team sections">
                        <div class="row">
                            <div class="head_title">
                                <h3 style="text-align: center;">Desarrolladores</h3>
                                <div class="separator" style="margin: 20px auto;"></div>
                            </div>
                            <div style="display: flex;justify-content: space-around;">
                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_team_content">
                                        <div class="single_team_img">
                                            <img src="images/team1.png" alt="" />
                                        </div>
                                        <div class="single_team_text_overlay">
                                            <h4>Iran Algo 3</h4>
                                            <p>Programador</p>
                                            <div class="team_overlay_socail">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_team_content">
                                        <div class="single_team_img">
                                            <img src="images/team2.png" alt="" />
                                        </div>
                                        <div class="single_team_text_overlay">
                                            <h4>Iran Algo 2</h4>
                                            <p>Programador</p>
                                            <div class="team_overlay_socail">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3 col-xs-12">
                                    <div class="single_team_content">
                                        <div class="single_team_img">
                                            <img src="images/team3.png" alt="" />
                                        </div>
                                        <div class="single_team_text_overlay">
                                            <h4>Iran Algo</h4>
                                            <p>Diseñador</p>
                                            <div class="team_overlay_socail">
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- End of main team contant -->
                </div>
            </div><!-- End of row -->
        </div>
    </section>


    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_features_area sections">
                        <div class="head_title">
                            <h3>Nuestra filosofia</h3>
                            <div class="separator"></div>
                        </div>
                        <div class="row">
                            <div class="main_features_content">

                                <div class="col-sm-6">

                                    <div class="single_tab_content">
                                        <div class="single_ft_s_item">
                                            <img src="img/philosophy.png" alt=""  style='bottom: 1rem;position: relative;'/>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="single_features_text">
                                        <h4>Software Libre</h4>
                                        <p>
                                            El software libre promueve la transparencia y la seguridad, permitiendo a los usuarios entender y mejorar continuamente el sistema. Nos esforzamos por crear un entorno educativo inclusivo y accesible para todos, donde la colaboración y el intercambio de conocimientos sean pilares fundamentales. Al adoptar el software libre, estamos comprometidos con la idea de que el acceso al conocimiento y la educación debe ser un derecho y no un privilegio. 
                                        </p>

                                    


                                        <a href="" class="btn">Aprende ahora</a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section  style="display: flex;
    background: #c5c5c5;
    height: 180px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;">
        <h1>ISO</h1> <h1 style="color: orangered;">2</h1> <h1>SYS</h1> 
    </section>

    <app-footer></app-footer>
