
<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">            
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                 <app-user-navbar></app-user-navbar>
                </div>
  
            </div>
  
        </div>
    </header> <!--End of header -->
  
  
    
  <div style="display: flex;margin-top: 5.5rem;padding-left: 1rem;">
  
    <div class="lesson_menu" style="
    height: 95vh;
    background: rgb(255, 255, 255);
    width: 30%;
    margin-top: 2rem;
    border-radius: 1.5rem;">
  
      <ul *ngIf="unitsAndLessons && unitsAndLessons.length > 0"> 
        <li style="
        padding: 1rem;
        border-bottom: 1px solid #0000001f;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.6rem;
        font-weight: 600;"><mat-icon style='background: linear-gradient(45deg, #ff380b, #ffa00ca3);
      padding: 1rem;
      border-radius: 7px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;'>devices_other</mat-icon>
          Ingenieria de Software</li>
        <li style="display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;" *ngIf="unitsAndLessons[0]?.lessons && unitsAndLessons[0].lessons.length > 0">
          <div>
            <a>Curso: ISO > Unidad {{unitsAndLessons[0]?.order}} : {{unitsAndLessons[0]?.name}}</a>
          </div>
          <div>
            <!--<b>Examen: {{ unitsAndLessons[0].title }} </b>-->
          </div>
        </li>
  
        <li *ngFor="let lesson of unitsAndLessons[0]?.lessons" class="menu-li" style="cursor:pointer;" (click)="goToLesson(unitsAndLessons[0].id, lesson.lesson_order)">         
            <mat-icon style='border: 1px solid gray; border-radius: 4px; display: flex; align-items: center; justify-content: center; margin-right: 1rem;'>play_arrow</mat-icon>   
            {{ lesson?.title }} 
          </li>
          <hr>
          <li *ngFor="let exam of unitsAndLessons[0]?.exams" class="menu-li" style="cursor:pointer;">         
            <mat-icon style='border: 1px solid gray; border-radius: 4px; display: flex; align-items: center; justify-content: center; margin-right: 1rem;'>play_arrow</mat-icon>   
            Examen {{ exam!.exam_order }} : {{ exam?.title }} 
          </li>
          

    </ul>
  
  
  
    </div>
  
  
  
      <div class="container" style="padding-top: 2rem;padding-bottom: 2rem;">
  
        <div class="section-outer-container">
          <div class="section-container">
              <mat-icon class="back-icon" >keyboard_backspace</mat-icon>
            <mat-icon class="title-icon" style="display: flex;">book</mat-icon>
            <div>
              <p style="margin: 0;
              font-weight: 900;
              font-family: 'Montserrat';">Unidad {{unitsAndLessons[0]?.order}}</p>
            </div>
          </div>
        
          <img src="img/unit.png" style="width: 30%; border-radius: 2rem; height: 6rem;"/>
        
      </div>


      <section>
        <mat-horizontal-stepper #stepper linear *ngIf="questions && questions.length > 0">
          <mat-step *ngFor="let question of questions; let index = index" [stepControl]="stepCtrl[index]">
            <form [formGroup]="stepCtrl[index]">
              <ng-template matStepLabel>{{ question.text }}</ng-template>
              <div>
                <p>{{ question.text }}</p>
        
                <mat-radio-group (change)="onRadioChange($event, index, question)">
                  <ng-container *ngFor="let answer of question.question_data">
                    <ng-container *ngIf="answer.type === 'radius'">
                      <mat-radio-button [value]="answer.id">
                        {{ answer.answer }}
                      </mat-radio-button>
                    </ng-container>
                  </ng-container>
                </mat-radio-group> 
        
                <!-- Opciones adicionales fuera del mat-radio-group -->
                <div *ngFor="let answer of question.question_data" [ngSwitch]="answer.type">
                  <div *ngSwitchCase="'checkbox'">
                    <mat-checkbox (change)="onSelectionChange(answer,index, answer.type, answer.checkbox_true, question.id, answer.true_response, $event.checked)">
                      {{ answer.answer }}
                    </mat-checkbox>
                  </div>                  
                  <div *ngSwitchCase="'text'"> 
                    <p>{{ answer.answer }}</p>
                    <input matInput placeholder="Respuesta" (input)="onTextInput($event, index, question.id, answer)">
                  </div>                                                    
                </div>
              </div>
              <div>
                <button mat-button (click)="validateAndProceed($event, index, stepper)">Next</button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        <!-- Mostrar el tipo de pregunta seleccionado -->
        <p *ngIf="selectedType">Tipo de pregunta seleccionado: {{ selectedType }}</p>
        
        <div *ngIf="!questions || questions.length === 0">
          <p>No hay preguntas disponibles.</p>
        </div>
      </section>
      

  
  
   
  
        <div>
  
          <div style='margin:auto;'>
            <div>
          </div>
          <div class="description" style="display: flex; flex-direction: column;">
            <div style="background: linear-gradient(45deg, #ed684f, #e98f1b47);
            padding-left: 1rem;
            border-radius: 10px 10px 0 0;"><h2 style="gap: 1rem;color: white;display: flex;align-items: center;"><mat-icon>reorder</mat-icon> Descripción</h2></div>
  
            <div style="background-color: white; padding: 1rem; text-align: justify;">
              <p>{{ lesson?.summary }}</p>
            </div>
          </div>
      </div>
      </div>
  
  
  
  </div>
  
  
  </div>
  <app-footer></app-footer>

  <div>
  
  