#singleVideo{
    width: 100% !important;
}

vg-controls {
    height: 0 !important;
}

.youtube-video-container{
  margin:auto; 
  justify-content: center;
}

.skeleton-loader {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e0e6ed 25%, #cacfdb 50%, #e0e6ed 75%);
    background-size: 200% 100%;
    animation: skeleton-animation 1.5s infinite;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    border: 1px solid #cad6d7;
    box-shadow: 1px 1px 8px 0px #9d9c9c;
    position: absolute; /* Permite posicionar el contenedor absolutamente dentro del padre */
    box-sizing: border-box; /* Incluye margen en el cálculo del recuadro */

  }

  .video-wrapper {
    position: relative; /* Permite que el contenedor hijo se posicione absolutamente dentro */
    width: 100%;
    margin-bottom: 3rem !important;

  }

  
  @keyframes skeleton-animation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
    #widget2 {
    width: 100% !important; /* Ajusta el ancho según tus necesidades */
    max-width: 100% !important; /* Asegura que no exceda el ancho máximo */
    background-color: red;
  }
  
  .hourglass{
    font-size: 4rem;
    width: auto;
    height: auto;
    color: #a5a6ab47;
    animation: blink 4s infinite;

  }