
<style>
    #widget2 {
        width: 100% !important; /* Ajusta el ancho según tus necesidades */
        max-width: 100% !important; /* Asegura que no exceda el ancho máximo */
        background-color: red;
      }
</style>

<div *ngIf="videoUrl && !isMp4(videoUrl)" style="margin:auto; display: flex; justify-content: center;" #youtubePlayer>
  <youtube-player id="youtube-player" [videoId]="videoUrl" [width]="screenWidth"></youtube-player>
</div>

<div *ngIf="videoUrl && isMp4(videoUrl)" class="video-container">
  <vg-player>
    <video #singleVideo id="singleVideo" controls>
      <source [src]="'http://localhost/iso2sys_rest_api/videos/' + videoUrl" type="video/mp4">
    </video>
    <vg-controls></vg-controls>
  </vg-player>
</div>


