<div>
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [type]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"
    >
    </canvas>
  
  </div>
  
  
<section>
    <div>
        <h2 style="text-decoration: underline;">Usuarios por Mes</h2>
        <table border='1' style="box-shadow: 1px 1px 20px 0px #474747;border-radius: 0;border-color: #c7c7c7;">
          <thead>
            <tr style="background: #ff49007d;">
              <th>MES</th>
              <th>NOMBRE DEL MES</th>
              <th>CANTIDAD DE USUARIOS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of reportList">
              <td><b>{{ report.month }}</b></td>
              <td>{{ report.month_name }}</td>
              <td><b>{{ report.user_count }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
      
</section>