<section style="position: sticky;top: 1px;z-index: 10000;">
<div class="section-outer-container"> 
    <div class="section-container">
      <mat-icon class="back-icon" matTooltip="Ir atras" (click)="goBack()">keyboard_backspace</mat-icon>
      <mat-icon class="title-icon" style="display:flex;">style</mat-icon>
        <div style="display: flex;flex-direction: column;"><h1 class="title">Examen: {{examData?.data_exam.title}}</h1>
          <p style="margin:0;
          font-size: 1rem;
          font-weight: bold;text-transform: capitalize;">Valor del Examen: {{examData?.data_exam.total_score}} puntos / total en preguntas: {{examData?.totalQuestionMark}} puntos</p></div>
        </div>
  
    <img
      style="width: 30%; border-radius: 2rem; height: 6rem"
      src="img/lesson.png"
    />
  </div>
</section>
          <!--add-student content -->  

            <div style="display: flex;justify-content: center; cursor:pointer;">
             <div class="timeThread" (click)="openDialog()" style="width: auto;flex-direction: row;">
                <div style='padding: 2rem 1rem;'>
                    <h1>Nueva Pregunta </h1>
                 </div>
                <div class='green-part'>
                    <h1 style="color:white;font-size: 6rem;">+</h1>
                </div>

              </div>
            </div>

            <div *ngIf="examData?.question">
              <div *ngFor="let exam of examData?.question">
                <div class="timeThread">
                  <div style="display: flex;align-items: center;width: 100%; justify-content: space-between;border-bottom: 1px solid #00000040;">
                    <div style='padding: 2rem 0rem;'>
                      <h1 style="text-transform: capitalize;font-weight: bold;"> Pregunta {{exam.question_order}}: {{exam.text}}</h1>
                    </div>
                    <div style='display: flex;gap: 1.5rem;'>
                      <button class="export" (click)="onFileList(exam.id)" *ngIf="!exam.question_data?.length">
                        <mat-icon>call_missed_outgoing</mat-icon>Respuestas
                      </button>
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="onEditList(exam.id)" mat-menu-item>
                          <mat-icon>✎</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>✂</mat-icon>
                          <span>Deshabilitar</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                  <div class='answer_container' style="width: 100%;" *ngIf="exam.question_data?.length">
                    <ul>
                      <li style="background: linear-gradient(45deg, #f54f0f, transparent); padding: 1rem; color: white; font-weight: 900;">Respuestas</li>
                      <li *ngFor="let answer of exam.question_data" style="display: flex; justify-content: space-between; align-items: center; padding: 1rem; border-top: 1px solid #7f7f7fe8;">
                        <div> 
                          {{answer.answer}} - <span style='font-weight: 600;'>Validación: </span> <span *ngIf="answer.true_response === 'true'; else typeCheck" style="color:rgb(99, 214, 99);font-weight: 600;">Verdadero</span> <ng-template #typeCheck> <span *ngIf="answer.type === 'text'; else falso" style="font-weight: 800;">Complete</span> <ng-template #falso> <span style='color: rgb(240, 32, 32);font-weight: 800;'>Falso</span> </ng-template> </ng-template> 
                        </div>
                        <button (click)="deleteAnswer(answer.id)" class='button-4'><mat-icon>remove_circle_outline</mat-icon>Borrar</button>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            
            

<!-- ADD QUESTION FORM GROUP-->        


<section *ngIf="showdialog" class="dialog-background">
  <div class="dialog" style='width:40%;'>
    <div class="dialog-title-container">
      <div>
        <mat-icon class="title-icon-lt" style="display:flex;">add_circle_outline</mat-icon><h1>Crear Pregunta </h1>
      </div>
      <mat-icon class="close-icon"  (click)="hideDialog()">backspace</mat-icon>
    </div>

    <form [formGroup]="AddExamFormGroup" style='width:100%;'>
      <mat-form-field class="example-full-width" *ngIf="showdialog"  style="width:100%;">
        <mat-label>Pregunta Numero: </mat-label>
        <input type="number" min="1" matInput formControlName="question_order" readonly>
      </mat-form-field>
      
    <mat-form-field class="example-full-width" *ngIf="showdialog"  style="width:100%;">
      <mat-label>Valor de la pregunta: </mat-label>
      <input type="number" min="1" max="{{maxValueQuestion}}" matInput formControlName="question_mark">
    </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showdialog" style="width:100%;">
        <mat-label>Texto</mat-label>
          <textarea matInput formControlName="text"></textarea>
    </mat-form-field>

      <br>      
    </form>

      <div class="dialog-button-container">
        <button class="add" (click)="addQuestion()"> 
          <mat-icon>add_circle_outline</mat-icon>
          Añadir Pregunta</button>

        <button class="cancel" (click)="hideDialog()">
          Cancelar
        </button>
      </div>
    </div>
  </section>


  
<!------------------------- EDIT ------------------------>

<section *ngIf="showeditdialog" class="dialog-background">
  <div class="dialog" style='width:40%;'>
    <div class="dialog-title-container">
      <div>
        <mat-icon class="title-icon-lt" style="display: flex;">build</mat-icon> <h1>Editar Pregunta</h1>
      </div>
      <mat-icon class="close-icon"  (click)="hideEditDialog()"
        >backspace</mat-icon
      >
    </div>

    <form [formGroup]="AddExamFormGroup" style='width:100%;'>
      <mat-form-field class="example-full-width" *ngIf="showeditdialog"  style="width:100%;">
        <mat-label>Pregunta Numero: </mat-label>
        <input type="number" min="1" matInput formControlName="question_order" readonly>
      </mat-form-field>
      
    <mat-form-field class="example-full-width" *ngIf="showeditdialog"  style="width:100%;">
      <mat-label>Valor de la pregunta: </mat-label>
      <input type="number" min="1" max="{{maxValueQuestion}}" matInput formControlName="question_mark">
    </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="showeditdialog" style="width:100%;">
        <mat-label>Texto</mat-label>
          <textarea matInput formControlName="text" style="text-transform: capitalize;"></textarea>
    </mat-form-field>


     
      <!-- Otros campos 

      <div *ngIf="AddExamFormGroup.hasError('noAnswersForMultiple')">
        <mat-error>No se deben proporcionar respuestas cuando el tipo es múltiple.</mat-error>
      </div>
    
-->
      <br>      
    </form>


    <div class="dialog-button-container">
      <button class="export" (click)="editLesson()"> 
        <mat-icon>build</mat-icon> 
        Editar Pregunta</button>

      <button class="cancel" (click)="hideEditDialog()">
        Cancelar
      </button>
    </div>
  </div>

</section>


  
<!------------------------- ANSWER MANAGER ------------------------>

<section *ngIf="showFilesdialog" class="dialog-background">
  <div class="dialog" style="width: 40%;">
    <div class="dialog-title-container">
      <div>
        <mat-icon class="title-icon-lt" style="display: flex;">question_answer</mat-icon><h1>Añadir Respuestas</h1>
      </div>
      <mat-icon class="close-icon" (click)="hideFilesDialog()">backspace</mat-icon>
    </div>
    <div style="text-align: left;width: 100%;border: dotted 2px #f46e3670;margin-bottom: 1rem;padding:1rem;"><p style="font-size: 1.2rem;margin-bottom: 0;text-transform: capitalize;"><b>Pregunta:</b> {{examDatafind.text}}</p></div>
    <form [formGroup]="AddAnswerFormGroup" style='width: -webkit-fill-available;'>
      <mat-form-field>
        <mat-label>Tipo de la Pregunta</mat-label>
        <mat-select formControlName="type">
          <mat-option value="radius">Verdadero/Falso</mat-option>
          <mat-option value="checkbox">Multiple</mat-option>
          <mat-option value="text">Complete</mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- opciones si se elige una completacion -->
      <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'text'" appearance="fill" style="width:100%;"> 
        <mat-label>Respuesta:</mat-label> 
        <textarea matInput formControlName="answer"></textarea> 
        <mat-error *ngIf="AddExamFormGroup.hasError('completeAnswerRequired')">Respuesta completa es requerida.</mat-error> 
      </mat-form-field> 
    
      <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'text'" appearance="fill" style="width:100%;"> 
        <mat-label>Respuesta Verdadera:</mat-label> 
        <input matInput formControlName="true_response"> 
        <mat-error *ngIf="AddExamFormGroup.hasError('completeAnswerRequired')">Respuesta completa es requerida.</mat-error> 
      </mat-form-field>
    
      <ng-container *ngIf="AddAnswerFormGroup.get('type')?.value === 'text'" style="width:100%;"> 
        <div class="dialog-button-container">
          <button class="add" (click)="insertAnswerText()"> 
            <mat-icon>build</mat-icon> 
            Insertar</button>
          <button class="cancel" (click)="hideFilesDialog()">
            Cancelar
          </button>
        </div>
      </ng-container>
      
      <!-- opciones si se elige verdadero o falso los (radius)-->
      <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'radius'" appearance="fill" style="width:100%;"> 
        <mat-label>Respuesta:</mat-label> 
        <textarea matInput formControlName="answer"></textarea> 
        <mat-error *ngIf="AddExamFormGroup.hasError('completeAnswerRequired')">Respuesta completa es requerida.</mat-error> 
      </mat-form-field>

      <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'radius'">
        <mat-label>Esta Respuesta es:</mat-label>
        <mat-select formControlName="true_response">
          <mat-option value="true">Correcta</mat-option>
          <mat-option value="false">Falsa</mat-option>
        </mat-select>
        <mat-error *ngIf="AddExamFormGroup.hasError('simpleAnswerRequired')">Respuesta simple es requerida.</mat-error>
      </mat-form-field>

      <ng-container *ngIf="AddAnswerFormGroup.get('type')?.value === 'radius'" appearance="fill" style="width:100%;"> 
      <!--Aqui va la tabla de los grupos de preguntas insertados de tipo radius-->

      <div  class='answer_container' style="width: 100%;" *ngIf="examDatafind.question_data?.length">
        <ul>
          {{examDatafind.question_data.true_response}}
          <li style="background: linear-gradient(45deg, #f54f0f, transparent); padding: 1rem; color: white; font-weight: 900;">Respuestas</li>                   
          <li *ngFor="let answer of examDatafind.question_data" style="display: flex; justify-content: space-between; align-items: center; padding: 1rem; border-top: 1px solid #7f7f7fe8;flex-wrap: wrap;">
            <div>
              {{answer.answer}} - <span style='font-weight: 600;'>Validación: </span> <span *ngIf="answer.true_response === 'true'; else falso" style="color:rgb(99, 214, 99);font-weight: 600;">Verdadero</span> <ng-template #falso><span style='color: rgb(240, 32, 32);font-weight: 800;'>Falso</span></ng-template>
            </div>
            <button (click)="deleteAnswer(answer.id)" class='button-4'><mat-icon>remove_circle_outline</mat-icon>Borrar</button>
          </li>
        </ul>
      </div>

      </ng-container>


      <ng-container *ngIf="AddAnswerFormGroup.get('type')?.value === 'radius'" appearance="fill" style="width:100%;"> 
        <div class="dialog-button-container">
          <button class="add" (click)="insertAnswerRadius()"> 
            <mat-icon>build</mat-icon> 
            Añadir</button>
    
          <button class="cancel" (click)="hideFilesDialog()">
            Listo
          </button>
        </div>
      </ng-container> 

      <!-- opciones si se elige una opcion multiple (los checkbox)-->      
        <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'checkbox'" appearance="fill" style="width:100%;">        
        <mat-label>Respuesta:</mat-label> 
        <textarea matInput formControlName="answer"></textarea> 
        <mat-error *ngIf="AddExamFormGroup.hasError('completeAnswerRequired')">Respuesta completa es requerida.</mat-error> 
      </mat-form-field>

      <mat-form-field *ngIf="AddAnswerFormGroup.get('type')?.value === 'checkbox'">
        <mat-label>Esta Respuesta es:</mat-label>
        <mat-select formControlName="true_response">
          <mat-option value="true">Correcta</mat-option>
          <mat-option value="false">Falsa</mat-option>
        </mat-select>
        <mat-error *ngIf="AddExamFormGroup.hasError('simpleAnswerRequired')">Respuesta simple es requerida.</mat-error>
      </mat-form-field>
      
      <ng-container *ngIf="AddAnswerFormGroup.get('type')?.value === 'checkbox'" appearance="fill" style="width:100%;"> 
        <!--Aqui va la tabla de los grupos de preguntas insertados de tipo radius-->
  
        <div  class='answer_container' style="width: 100%;" *ngIf="examDatafind.question_data?.length">
          <ul>
            {{examDatafind.question_data.true_response}}
            <li style="background: linear-gradient(45deg, #f54f0f, transparent); padding: 1rem; color: white; font-weight: 900;">Respuestas</li>         
            <li *ngFor="let answer of examDatafind.question_data" style="display: flex; justify-content: space-between; align-items: center; padding: 1rem; border-top: 1px solid #7f7f7fe8;flex-wrap: wrap;">
              <div>
                {{answer.answer}} - <span style='font-weight: 600;'>Validación: </span> <span *ngIf="answer.true_response === 'true'; else falso" style="color:rgb(99, 214, 99);font-weight: 600;">Verdadero</span> <ng-template #falso><span style='color: rgb(240, 32, 32);font-weight: 800;'>Falso</span></ng-template>
              </div>
              <button class='button-4' (click)="deleteAnswer(answer.id)"><mat-icon>remove_circle_outline</mat-icon>Borrar</button>
            </li>
          </ul>
        </div>
  
        </ng-container>

      <ng-container *ngIf="AddAnswerFormGroup.get('type')?.value === 'checkbox'" appearance="fill" style="width:100%;"> 
        <div class="dialog-button-container">
          <button class="add" (click)="insertAnswerRadius()"> <mat-icon>build</mat-icon> Añadir</button>
    
          <button class="cancel" (click)="hideFilesDialog()">Listo</button>

        </div>
      </ng-container> 

        
    </form>
  </div>
</section>