<div style="text-align: center;border: solid 1px red ;background: white;">
    <h1>
        Hola profesora, Soy el programador y 
        diseñador de este sistema.
    </h1>

    <p>Me insulta el hecho de que crea que esto es una 
    plantilla. Sobretodo teniendo en cuenta que es muy 
    improbable, que exista algo asi de especifico para
    una materia especifica. Con el nombre y todo. (Por el logo que es de Ingeniria de Software 2).
    Y de paso, viendo que se le estan haciendo modificaciones.
    </p>

    <p>
    </p>
</div>