
<div class="culmn">
        <header id="main_menu" class="header navbar-fixed-top">            
            <div class="main_menu_bg">
                <div class="container">
                    <div class="row">
                     <app-user-navbar></app-user-navbar>
                    </div>

                </div>

            </div>
        </header> <!--End of header -->




    <section  class="service" style="margin-top: 5rem; padding-bottom: 10rem;">

            <h1 style="text-align: center;padding-top: 3rem;font-size: 2rem;">Terminos y Condiciones</h1>
            <div class="separator" style="margin: auto; width: 30%; margin-bottom: 3rem;"></div>

            <div style="padding: 0 10%;text-align: justify;font-weight: 600;display: flex;flex-direction: column;gap: 2rem;">
                <p>1. Introducción Bienvenido a nuestra plataforma educativa en línea. Al acceder y utilizar nuestro sitio web, aceptas cumplir y estar sujeto a los siguientes términos y condiciones. Si no estás de acuerdo con estos términos, te pedimos que no utilices nuestra plataforma.</p>

                <p>2. Uso de la Plataforma Nuestra plataforma está destinada a la educación en línea y es accesible para profesores y estudiantes registrados. Los usuarios deben proporcionar información veraz y precisa al registrarse y usar la plataforma de manera responsable y respetuosa.</p>
                
                <p>3. Contenidos y Propiedad Intelectual Todos los contenidos alojados en nuestra plataforma, incluyendo videos, evaluaciones y materiales educativos, son propiedad de sus respectivos creadores y están protegidos por derechos de autor. Los usuarios tienen prohibido copiar, distribuir o utilizar estos contenidos para fines comerciales sin el permiso expreso de los propietarios.</p>
                
                <p>4. Privacidad y Protección de Datos Nos comprometemos a proteger la privacidad de nuestros usuarios. Recopilamos y utilizamos la información personal de acuerdo con nuestra Política de Privacidad, que puedes consultar en nuestra página web. Al utilizar nuestra plataforma, aceptas los términos de esta política.</p>
                
                <p>5. Responsabilidades del Usuario Los usuarios son responsables de mantener la confidencialidad de sus credenciales de acceso y de todas las actividades realizadas bajo su cuenta. Cualquier uso no autorizado de tu cuenta debe ser notificado inmediatamente a nuestro equipo de soporte.</p>
                
                <p>6. Limitación de Responsabilidad No somos responsables de ningún daño directo, indirecto, incidental o consecuente derivado del uso de nuestra plataforma. Nos esforzamos por mantener nuestra plataforma segura y libre de errores, pero no garantizamos su funcionamiento ininterrumpido o libre de errores.</p>
                
                <p>7. Modificaciones de los Términos Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Las modificaciones entrarán en vigor inmediatamente después de su publicación en nuestra página web. El uso continuo de la plataforma implica la aceptación de los términos modificados.</p>
            </div>
    </section>

    <app-footer></app-footer>