
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                         <app-user-navbar></app-user-navbar>
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>Bienvenido a ISO2SYS</h1>
                                            <p>La mejor plataforma de Clases Online</p>
                                            <div class="home_btn">
                                                <a href="https://bootstrapthemes.co" class="btn btn-primary">Ver Clases</a>
                                            </div>

                                        </div>
                                    </div>
                                  <!-- 
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>WELCOME TO OUR LOGIC</h1>
                                            <p>We Make Awesome Theme For Your Business</p>
                                            <div class="home_btn">
                                                <a href="https://bootstrapthemes.co" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                    --> 
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>Evalua tus conocimientos</h1>
                                            <p>Con la implementación de Tests Virtuales ¡Puedes mantenerte siempre preparado para sacar buena nota!</p>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_service_area">
                                <div class="main_service_content">
                                    <div class="service_tabe">

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="webdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>¿Quienes Somos?</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>Bienvenidos a esta nueva plataforma educativa en línea, una iniciativa pionera creada por los estudiantes 
                                                                    del segundo trayecto de informática de la Universidad Politécnica Territorial de Paria "Luis Mariano Rivera". 
                                                                    Nos especializamos en alojar videos para clases online 
                                                                    y en ofrecer herramientas para la creación y gestión de evaluaciones en línea, 
                                                                    diseñadas para adaptarse a las necesidades de los profesores y mejorar la experiencia educativa de los estudiantes. </p>

                                                                <a (click)="goToAboutUs()" class="btn btn-primary">Acerca de Nosotros</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="single_tab_img">
                                                                <img src="images/stab1.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="appdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Two</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="single_tab_img">
                                                                <img src="images/featureslid1.jpg" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="graphicdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Three</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="single_tab_img">
                                                                <img src="images/stab1.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="gamedesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>WEB DESIGN Four</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page 
                                                                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal 
                                                                    distribution of letters, as opposed to using 'Content here, content here', making it 
                                                                    look like readable English. Many desktop publishing packages and web page editors now use 
                                                                    Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="single_tab_img">
                                                                <img src="images/featureslid1.jpg" alt="" />
                                                            </div>
                                                        </div>
                                                        <!--                                                        <div id="pentagon"></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="features" class="features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_features_area sections">
                                <div class="head_title">
                                    <h3>Aprende con nuestras clases</h3>
                                    <div class="separator"></div>
                                </div>
                                <div class="row">
                                    <div class="main_features_content">

                                        <div class="col-sm-6">

                                            <div>
                                                <div class="single_ft_s_item">
                                                    <img src="images/featureslid1.jpg" alt="" />
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="single_features_text">
                                                <h4>Innovación a Distancia</h4>
                                                <p>Nuestro compromiso es fomentar el aprendizaje accesible y de calidad, permitiendo a los 
                                                    docentes compartir su conocimiento de manera eficaz 
                                                    y a los estudiantes desarrollar sus habilidades y conocimientos en un entorno dinámico e interactivo. 
                                                </p>

                                                <p>    
                                                    Con la pasión y dedicación de nuestros estudiantes, hemos construido una herramienta que no solo 
                                                    facilita la educación a distancia, sino que también promueve el crecimiento y la innovación en el ámbito educativo.</p>


                                                <a href="" class="btn">Aprende ahora</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-12">

                                <div class="main_about_content">
                                    <div class="row">

                                        <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                            <div class="single_about_right_content">
                                                <div class="head_title">
                                                    <h3>Ofrecemos</h3>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <div class="ab_border_right"></div>
                                                        <i class="fa fa-coffee"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>Alojamientos de Videos Educativos</h3>
                                                        <p>Nuestra plataforma permite a los profesores subir y organizar videos educativos de manera sencilla. Estos videos son accesibles para los estudiantes en cualquier momento, facilitando el aprendizaje autónomo y permitiendo repasar contenido cuantas veces sea necesario.</p>                                                            
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">

                                                        <i class="fa fa-paint-brush"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>Evaluaciones Online Personalizadas </h3>
                                                        <p>Los profesores pueden diseñar evaluaciones que se adapten a las necesidades y nivel de sus estudiantes. Estas evaluaciones pueden incluir preguntas de opción múltiple, ensayos cortos y tareas prácticas, brindando una experiencia de evaluación integral y versátil.</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <i class="fa fa-headphones"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>Interfaz Intuitiva</h3>
                                                        <p>Nuestra interfaz es amigable tanto para estudiantes como para profesores. La navegación es simple e intuitiva, permitiendo a los usuarios concentrarse en el contenido educativo sin distracciones técnicas.</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="single_about_left_img margin-top-40 text-center wow fadeInLeft" data-wow-duration=".6s">
                                                <img src="images/abright.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </section>


    


            <section id="choose" class="choose">
                <div class="container">
                    <div class="row">
                        <div class="main_choose sections">
                            <div class="col-sm-6">
                                <div class="head_title">
                                    <h3>WHY CHOOSE US</h3>
                                    <div class="separator"></div>
                                </div>
                                <div class="single_choose">
                                    <div class="single_choose_acording">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                            <i class="fa fa-picture-o"></i> ¿Las evaluaciones son seguras? 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: auto;">
                                                    <div class="panel-body" style="background-color: #fff;">
                                                       Los exámenes no necesariamente se reflejan como nota en la institución, son practicas para medir tu conocimiento y avance acerca del tema, para que estes mas preparado en caso de un examen real. Estos examenes son hechos a la medida por los profesores del plantel.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            <i class="fa fa-map-signs"></i>¿Quien elige los videos? 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                                    <div class="panel-body" style="background-color: #fff;">
                                                        Los videos son elegidos por los profesores, tambien pueden ser subidos por estos. 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-bullseye"></i> Dispositivos compatibles
 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="panel-body" style="background-color: #fff;">
                                                        Nuestra plataforma es compatible con una amplia variedad de dispositivos, mientras incluyan cualquier navegador basado en Chromium o Safari, incluyendo computadoras de escritorio, laptops, tablets y smartphones, tanto en sistemas operativos iOS como Android.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-umbrella"></i>Crear Evaluaciones 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                                    <div class="panel-body" style="background-color: #fff;">
                                                        Accede a tu cuenta de profesor, ve a la sección "Evaluaciones" y haz clic en "Crear Nueva Evaluación". Aquí puedes añadir diferentes tipos de preguntas, establecer un tiempo límite y personalizar otros detalles según las necesidades de tu clase.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapseThree">
                                                            <i class="fa fa-subway"></i>Retroalimentación 
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" aria-expanded="false">
                                                    <div class="panel-body" style="background-color: #fff;">
                                                          Al realizar una evaluación, puedes ver tu progreso y nota en la tema, u obtener información valiosa de tus estudiantes si eres profesor.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_choose">
                                    <div class="single_choose_img">
                                        <img src="images/choose.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="testimonial" class="testimonial">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_testimonial sections text-center">
                                <div class="col-md-12" data-wow-delay="0.2s">
                                    <div class="main_teastimonial_slider text-center">

                                        <div class="single_testimonial">
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <i class="fa fa-quote-left"></i>
                                                    <p>El modelo educativo tradicional se basa casi única y exclusivamente en memorizar sin asociar dicho conocimiento a un porqué. Desarrollar la lógica es importante a su vez para desarrollar el llamado pensamiento crítico. Si solo nos basamos en la memoria a la hora de aprender, ¿qué nos diferenciaría de un dispositivo USB?</p>
                                                    <div class="single_test_author">
                                                        <h4>Roger Lewin<span> -- Escritor de New Scientist</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single_testimonial">
                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2">
                                                    <i class="fa fa-quote-left"></i>
                                                    <p>No todos los lectores son líderes, pero todos los lectores se convierten en líderes</p>
                                                    <div class="single_test_author">
                                                        <h4>Harry S. Truman <span> -- Presidente de los Estados Unidos</span></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>




            
            <app-footer></app-footer>








        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>