    <section style="display:flex;display: flex;justify-content: space-around;flex-wrap: wrap;">
        <mat-card appearance="outlined" style="background: linear-gradient(45deg, #e5470b, #ffc04e6e);padding:1.4rem;box-shadow: -3px 8px 10px gray;">
            <mat-card-content>
                <div style="
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-size: 2rem;
                    gap: 2rem;
                    font-weight: bolder;"
                >
                    <span style="font-size: 4rem;">{{cardData.total_user}}</span>
                    <span>Usuarios</span>
                </div>
            </mat-card-content>
          </mat-card>
        
          <mat-card appearance="outlined" style="padding: 1.4rem;background: linear-gradient(45deg, #99c357, #abf7c66e);box-shadow: -3px 8px 10px gray;">
            <mat-card-content>
                <div style="
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-size: 2rem;
                    gap: 2rem;
                    font-weight: bolder;"
                >
                    <span style="font-size: 4rem;">{{cardData.total_units}}</span>
                    <span>Unidades</span>
                </div>
            </mat-card-content>
          </mat-card>
        
          <mat-card appearance="outlined" style="padding: 1.4rem;background: linear-gradient(45deg, #6245bb, #abe2f76e);box-shadow: -3px 8px 10px gray;">
            <mat-card-content>
                <div style="
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-size: 2rem;
                    gap: 2rem;
                    font-weight: bolder;"
                >
                    <span style="font-size: 4rem;">{{cardData.total_lessons}}</span>
                    <span>Lecciones</span>
                </div>
            </mat-card-content>
          </mat-card>
        
          <mat-card appearance="outlined" style="padding: 1.4rem;background: linear-gradient(45deg, #ebaf40, rgb(255 106 0 / 25%));box-shadow: -3px 8px 10px gray;">
            <mat-card-content>
                <div style="
                    display: flex;
                    flex-direction: column;
                    color: white;
                    font-size: 2rem;
                    gap: 2rem;
                    font-weight: bolder;"
                >
                    <span style="font-size: 4rem;">{{cardData.total_exams}}</span>
                    <span>Examenes</span>
                </div>
            </mat-card-content>
          </mat-card>

    </section>

    <section style="background: white;padding: 1rem;margin-top: 4rem;">
        <app-display-user-chart></app-display-user-chart>
    </section>
