<div class="culmn">
  <header id="main_menu" class="header navbar-fixed-top">
    <div class="main_menu_bg">
      <div class="container">
        <div class="row">
          <app-user-navbar></app-user-navbar>
        </div>

      </div>

    </div>
  </header> <!--End of header -->

  <div class="lesson-menu-container">
    <div class="lesson-menu" [ngClass]="{'show': lessonMenuVisible}">
      <ul>
          <li class="menu-upper-title">
            <div class="first-title">
              <mat-icon class="lesson-menu-icon">devices_other</mat-icon>
              <span>Ingenieria de Software</span>
            </div>
            <div><mat-icon class="close-menu-icon" (click)="toggleLessonMenu()">close</mat-icon></div>        
          </li>
        <li class="lesson-menu-li" *ngIf="unitsAndLessons[0]?.lessons && unitsAndLessons[0].lessons.length > 0">
          <button [disabled]="isFirstUnit" (click)="goToPreviousUnit2()" style="background:none;border:none;">
            <mat-icon class="mat-unit-icon" [ngClass]="{'disabled': isFirstUnit}">navigate_before</mat-icon>
          </button>
          <div class="upper-lesson-menu-container">
            <div>
              <a>Curso: ISO > Unidad {{unitsAndLessons[0]?.order}}</a>
            </div>
            <div>
              <b style="text-transform: capitalize;">{{ lesson?.title }} </b>
            </div>
          </div>
          <button [disabled]="isLastUnit" (click)="goToNextUnit()" style="background:none;border:none;">
            <mat-icon class="mat-unit-icon" [ngClass]="{'disabled': isLastUnit}" >navigate_next</mat-icon>
          </button>
        </li>
      </ul>

        <ul *ngIf="unitsAndLessons && unitsAndLessons.length > 0" style='overflow-y: auto;' class="lesson-menu-ul">
        <li *ngFor="let lesson of unitsAndLessons[0]?.lessons; let i = index" (click)="goToLesson(unitsAndLessons[0].id, lesson.lesson_order)" class="menu-li" style="cursor:pointer;text-transform: capitalize;" [ngClass]="{'active-lesson': lesson.lesson_order === lesson_order}"  >
          <mat-icon class="play-icon">play_arrow</mat-icon> {{ lesson?.title }}
        </li>
        <hr>
        <li *ngFor="let exam of unitsAndLessons[0]?.exams" class="menu-li" style="cursor:pointer;"
          (click)="goToExam(unitsAndLessons[0].id, exam.id, exam.exam_order)">
          <mat-icon class="play-icon">play_arrow</mat-icon>
          Examen {{ exam!.exam_order }} : {{ exam?.title }}
        </li>
      </ul>

    </div>

    <div class="container left" style="padding-top: 2rem;padding-bottom: 2rem;">

      <div class="section-outer-container">
        <div class="section-container">
          <mat-icon class="back-icon" (click)="goBack()" matTooltip="Ir a unidades">keyboard_backspace</mat-icon>
          <mat-icon class="title-icon" style="display: flex;">video_library</mat-icon>
          <div>
            <h1 class="title">{{capitalizeWords(lesson?.title) }}</h1>
            <p style="margin: 0;
            font-weight: 900;
            font-family: 'Montserrat';">Unidad {{unitsAndLessons[0]?.order}}</p>
          </div>
        </div>

        <img src="img/unit.png" style="opacity: 0;" class="title-image" />

      </div>




      <div>

        <div *ngIf="lesson?.url">
          <ng-container *ngIf="lesson.url; else noVideo">
            <app-view-video [videoUrl]="lesson.url" [lessonId]="lesson.id" *ngIf="showVideoComponent"></app-view-video>
          </ng-container>
          <ng-template #noVideo>
            <!-- Muestra algo cuando no hay video -->
          </ng-template>
        </div>


        <mat-tab-group>
          

          <mat-tab label="Descripción">
            <div class="description-inside">
              <p *ngIf="lesson?.summary; else noDescription">{{ lesson?.summary }}</p>
            </div>
          </mat-tab>
          <mat-tab label="Guias">
            <div class="description-inside">
              <ul *ngIf="lesson?.files && lesson.files.length > 0; else noFiles">
                <li *ngFor="let file of lesson?.files" class="download-li">
                  <a [href]="'http://localhost/iso2sys_rest_api/download.php?file=' + file.file" download>
                    {{ file.name }}
                    <mat-icon style="color: #ff3d009c;" class="mat-download-icon">cloud_download</mat-icon>
                  </a>
                </li>
              </ul>
            </div>
          </mat-tab>
        </mat-tab-group>
        
        <ng-template #noDescription>
          <div style="text-align: center;font-size: 1.2rem;padding: 1rem;color: #626f8b;">Sin información</div>
        </ng-template>
        <ng-template #noFiles>
          <div style="text-align: center;font-size: 1.2rem;padding: 1rem;color: #626f8b;">Sin información</div>
        </ng-template>
        

<!--
        <div class="description" style="display: flex; flex-direction: column;">
          <div style="background: linear-gradient(45deg, #ed684f, #e98f1b47);
          padding-left: 1rem;
          border-radius: 10px 10px 0 0;">
            <h2 style="gap: 1rem;color: white;display: flex;align-items: center;"><mat-icon>reorder</mat-icon>
              Descripción</h2>
          </div>

          <div style="background-color: white; padding: 1rem; text-align: justify;">
            <p>{{ lesson?.summary }}</p>
          </div>
        </div>
        <div class="files" style="display: flex; flex-direction: column;">
          <div style="display: flex; flex-direction: column;">
            <div style="background: linear-gradient(45deg, #ed684f, #e98f1b47);
            padding-left: 1rem;
            border-radius: 10px 10px 0 0;">
              <h2 style="gap: 1rem;color: white;display: flex;align-items: center;"><mat-icon>ballot</mat-icon> Guias
                Adjuntas</h2>
            </div>

            <ul style="background-color: white;">
              <li *ngFor="let file of lesson?.files" class="download-li">
                <a [href]="'http://localhost/iso2sys_rest_api/download.php?file='+file.file" download>{{ file.name }}
                  <mat-icon style="color: #ff3d009c;">cloud_download</mat-icon></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>



  </div>
-->

</div>

</div>

</div>

<div style="
background: #E4EBF5;
position: absolute;
bottom: 0;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 1rem;
z-index: 100000000;
b: 1rem -1rem 2rem 0px #afb6cd, -.2rem -.2rem 0rem 1px #ffffff;
box-shadow: 1px -3px 7px 0px #b9b7c3;
height: 5rem;">

<button class="control-button" *ngIf="!isFirstLesson" (click)="goToPreviousLesson()"> 	<mat-icon>skip_previous</mat-icon> Anterior</button>

<button class="control-button" *ngIf="isFirstLesson"  [disabled]="isFirstUnit" [ngClass]="{'disabled': isFirstUnit}" (click)="goToPreviousUnit()"> 	<mat-icon>skip_previous</mat-icon> Anterior</button>

<button class="control-button control-blue"  [ngClass]="{'toggle-active': lessonMenuVisible}" (click)="toggleLessonMenu()"><mat-icon>menu</mat-icon></button>

<button class="control-button" *ngIf="!isLastLesson" (click)="goToNextLesson()">Siguiente <mat-icon>skip_next</mat-icon></button>

<button class="control-button" *ngIf="isLastLesson"  [disabled]="isLastUnit" [ngClass]="{'disabled': isLastUnit}"  (click)="goToNextUnit()">Siguiente <mat-icon>skip_next</mat-icon></button>



</div>
