@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-icons/iconfont/material-icons.css";
@import 'material-icons/iconfont/material-icons.css';

:root {
/** Dark theme primary colors */
--primary: #591eab;
--primary-a10: #6e39b5;
--primary-a20: #8251bf;
--primary-a30: #9569c8;
--primary-a40: #a881d2;
--primary-a50: #ba9adb;

/** Dark theme surface colors */
--surface: #bbb;
--light-surface: #ddd;
--lighter-surface: #fff;
--color-surface-a30: #5a5861;
--color-surface-a40: #73727a;
--color-surface-a50: #8e8c93;

/** Dark theme mixed surface colors */
--color-surface-mixed-a0: #1d1b20;
--color-surface-mixed-a10: #322b3f;
--color-surface-mixed-a20: #494255;
--color-surface-mixed-a30: #605a6b;
--color-surface-mixed-a40: #797382;
--color-surface-mixed-a50: #928e9a;
}

@font-face {
  font-family: 'sf-pro';
  src: url('/fonts/SF-PRO-REGULAR.OTF');
  format: 'truetype';
}

@font-face {
  font-family: 'sf-rounded';
  src: url('/fonts/SF-ROUNDED.ttf');
  format: 'truetype';
}


/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Raleway';
  font-weight: 300;
}

html,
body {
    font-size: 0.875rem;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Raleway', sans-serif;
    background: var(--greyLight-1);
    display: block;
    color: var(    --text-dark-grey);
}


:host /deep/ .material-icons {
  font-family: 'Material Icons' !important;
}


.section-outer-container{
  display: flex;
  border-radius: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  box-shadow: inset .2rem .2rem .5rem #b1b9cd, inset -.2rem -.2rem .5rem var(--white);
  background: rgb(255 255 255 / 58%);;
}

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}


.outside-table{
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
  background: var(--lighter-surface);
  margin-bottom: 2rem;
}

.search-icon{
  display: flex;
  flex-direction: row;
  align-items: baseline;width: 35%
}

.search-icon div{
  position: absolute;
  padding: 1rem;
  z-index: 5;
}


.dialog-background{
  width: 100%;
  height: 100vh;
  background-color: #9b9b9b61;
  position: absolute;
  top: 0;
  right: 0rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu-upper-title{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px solid #cfcfcf;
}


.lesson-menu-icon {
  background: linear-gradient(45deg, #8d80f9, #ff7e33a3);
  padding: 1rem;
  border-radius: 7px;
  color: white;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.dialog{
  background-color: #fdfbff;
  padding: 1.5rem;
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.dialog-title-container{
  display: flex; 
  justify-content: space-between; 
  width: 100%;
  margin-bottom: 1rem;
}

.dialog-title-container div h1{
  font-size: 1.5rem; 
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: underline;
}

.dialog-title-container div{
  display: flex;
  gap: 1rem;
}


::ng-deep .outside-table .search-icon .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  border-radius: 15px !important;
  height: 2.8rem;
}

::ng-deep .outside-table .search-icon .mat-mdc-form-field-focus-overlay{
  background-color: white !important;
}



::ng-deep [_ngcontent-ng-c1824096855] {
  background-color: lightgray  !important;
}

.export{
  border: none;
  background: linear-gradient(45deg, #5b0eeb, #6d5dfc);
  color: white;
  padding: 0.7rem;
  border-radius: 13px;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.export:hover{
  background: linear-gradient(45deg, #5b0eeb, #6d5dfc)
}

.export:disabled,
.export[disabled]{
  background: #cccccc !important;
}

.edit{
  border: none;
  background: linear-gradient(45deg, rgb(170, 116, 201), #974fd1);
  color: white;
  padding: 0.7rem;
  border-radius: 13px;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.edit:hover{
  background: linear-gradient(45deg, rgb(137, 60, 153), #4e1194)
}


.add{
  border: none;
  background: linear-gradient(45deg,#5cb190, rgb(57, 201, 153));
  color: white;
  padding: 0.7rem;
  border-radius: 13px;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.add:hover{
  background: linear-gradient(45deg,#2f9c72, rgb(7, 134, 92));
}

.cancel{
  border: none;
  background: linear-gradient(45deg,#dbdbdb, rgb(182, 182, 182));
  color: white;
  padding: 0.7rem;
  border-radius: 13px;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cancel:hover{
  background: linear-gradient(45deg,#b1b1b1, rgb(145, 145, 145));
}

.button-container{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: baseline;
}

.mat-table
{
  background-color:transparent!important;  
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5em;
}
table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.title{
margin: 0 !important;
font-size: 2rem !important;
font-weight: bolder !important;
}

.title-icon{
  color: #ffffff;
  border-radius: 2rem;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(99 87 255), #dcdaf7);
  box-shadow: .3rem .3rem .6rem 2px #afb6cd, -.2rem -.2rem 0rem 0px #e1e0e7;
}

.video-container{
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 1px 1px 19px 2px black;
  background: #C4D0E1;
  box-shadow: .3rem .3rem .6rem 2px #a2a8bd, -.2rem -.2rem 9px 4px #ffffff;
}

.title-image{
  width: 30%; 
  border-radius: 2rem; 
  height: 6rem;
  box-shadow: -5px 2px 6px 0px #0000006b;
}

.close-icon{
  font-weight: bolder; 
  font-size: 1.5rem;
}

.close-icon:hover{
  color: orange;
  scale: 1.2;

}


.two-inputs{
  display: flex; 
  gap: 1rem
}

.gender-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dialog-button-container{
  display: flex; 
  flex-direction: row; 
  gap: 0.5rem;
}


.menu-button{
  background-color: none;
  color: gray;
  background: none;
  border: none;
}


.menu-button:hover{
color:black;
}

.control-button{
  border-radius: 2rem;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  box-shadow: .3rem .3rem .6rem 2px #afb6cd, -.2rem -.2rem 2px 0px #ffffff;
  border: none;
  background: none;
  color: #6e7c9b;
  padding: 1rem;
}

.control-button:hover{
  color: #584cff;
  transition: ease .4s;
}

.control-blue{
  border-radius: 50%;
  color: #584cff !important;
  display: none !important;
}

.button-4{
  color: #e6635487;
  display: flex;
  align-items: center;
  gap: .4rem;
  background: none;
  border: solid #e6635487;
  font-weight: 700;
}

.button-4:hover{
  color: white;
  background-color:#e66354;
}


.title-icon-lt{
  background: linear-gradient(45deg, #ff7829fa, transparent);
  color: white;
  padding: 1.2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}



/*****************RESPONSIVE**********************/


@media screen and (max-width: 950px) {
  .table-image {
    display: none;
  }

  .arrow-icon {
    display: none;
  }

  .section-outer-container {
    border-radius: 1rem;
    padding: .5rem;
  }

  .title-icon {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  .outside-table {
    flex-direction: column-reverse;
    gap: .5rem;
  }

  .button-container {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    width: 16rem;
    justify-content: center;
  }

  .export {
    width: 100%;
    justify-content: center;
  }

  .add {
    width: 100%;
    justify-content: center;
  }


  .dialog {
    background-color: #fdfbff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100% !important;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    box-shadow: 1px 1px 8px 4px #676767;
    align-content: center;
    margin-right: 0rem;
  }

  form {
    width: 90%;
  }

  .two-inputs {
    display: flex;
    flex-direction: column;
  }

  br {
    display: none;
  }


  .nationality-form-field {
    width: 30% !important;
  }

  .genre-field {
    width: 100%;
  }

  .qualification-image-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .qualification-image {
    width: 100%;
  }

}




@media (max-width: 950px) {
  .mat-table-wrapper {
    display: none;
  }

  .expansion-panel-wrapper {
    display: block;
  }
}

@media (min-width: 950px) {
  .mat-table-wrapper {
    display: block;
  }

  .expansion-panel-wrapper {
    display: none;
  }

}


.table-responsive {
  display: block;
}

.mat-expansion {
  display: none;
}

@media (max-width: 950px) {
  .table-responsive {
    display: none;
  }

  .mat-expansion {
    display: block;
  }

  .control-blue{
    display: flex !important;
  }

  
}


.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #6d5dfc !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element, .mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: #3b2ef7e3 !important;
}

.mat-mdc-radio-button .mdc-radio__outer-circle {
  box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white) !important;
}

.mat-mdc-radio-button .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio__native-control:disabled+.mdc-radio__background .mdc-radio__outer-circle {
  box-shadow: inset .2rem .2rem .5rem #b1b9cd, inset -.2rem -.2rem .5rem var(--white) !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.neuromorphic-btn {
  background: #6d5dfc;
  box-shadow: inset .2rem .2rem 1rem #aaafdd,
    inset -.2rem -.2rem 1rem #5b0eeb,
    .3rem .3rem .6rem #c8d0e7,
    -.2rem -.2rem .5rem #ffffff;
  color: #E4EBF5;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 800;
  gap: 1rem;
  border: none;
}

.neuromorphic-btn:disabled {
  background: #cac9da59;
  box-shadow: inset .2rem .2rem .5rem #b1b9cd, inset -.2rem -.2rem .5rem #ffff;
  color: #9baacf;
}

.neuromorphic-btn:not(:disabled):hover {
  background: #6d5dfc;
  box-shadow:inset .2rem .2rem 1rem  #5b0eeb, 
             inset -.2rem -.2rem 1rem #8abdff;
}

.mat-step-icon-selected {
  background: linear-gradient(45deg, #5154ed, #7a4fff75) !important;
  color: #f7f7f7;
  font-weight: 900 !important;
}


/*******COLOR PALETTE*******************/

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
