<nav class="navbar" *ngIf="isSmallScreen">
  <button class="toggle-btn" (click)="toggleSidenav()">☰</button>
</nav>
<div class="sidenav" [class.active]="isToggled">
  <ul>
    <li *ngFor="let item of navItems" [ngClass]="{'expanded-li': item.expanded}" (click)="toggleSubmenu(item)">
      <div class="menu-item" >
        <mat-icon style="color: white;">{{item.iconClass}}</mat-icon><a [routerLink]="item.route">{{ item.name }}</a> 
      <mat-icon *ngIf="item.subItems && item.subItems.length > 0" style="color: white;">{{toggleIcon}}</mat-icon>
    </div>
      <ul [ngClass]="{'expanded': item.expanded}" style="background: rgba(255, 255, 255, 0.719);">
        <li *ngFor="let subItem of item.subItems" >{{ subItem.name }}</li>
      </ul>
      <div style="background-color: black;" *ngIf="isActive(item.route?? '')">a</div>
    </li>
  </ul>
