


<section id="footer" class="footer_widget">
    <div class="video_overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="main_widget">
                            <div class="col-sm-3 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_logo">
                                        <img src="images/logo.png" alt="" />
                                    </div>
                                    <p>Una plataforma segura para aprender, ver clases a distancia y medir conocimientos, donde sea, cuando sea.</p>

                                </div>
                            </div>

                            <div class="col-sm-3  col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                    <div class="footer_title">
                                        <h4>SITEMAP</h4>
                                        <div class="separator"></div>
                                    </div>
                                    <ul>
                                        <li><a href>Servicios</a></li>
                                        <li><a (click)="goToAboutUs()">Acerca de</a></li>
                                        <li><a (click)="goToTerms()">Terminos y Condiciones</a></li>
                                    </ul> 
                                </div>
                            </div>

                            <div class="col-sm-3  col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                    <div class="footer_title">
                                        <h4>Aprender</h4>
                                        <div class="separator"></div>
                                    </div>
                                    <ul>
                                        <li><a href="">Clases</a></li>
                                        <li><a href="">Evaluaciones</a></li>

                                    </ul> 
                                </div>
                            </div>

                            <div class="col-sm-3 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_footer">
                    <div class="row">

                        <div class="col-sm-6 col-xs-12">
                            <div class="copyright_text">
                                <p class=" wow fadeInRight" data-wow-duration="1s">Hecho por los Estudiantes de la U.P.T.P Luis Mariano Rivera 2024.  Todos los derechos reservados</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="flowus">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

