<div class="section-outer-container"> 
    <div class="section-container">
      <mat-icon>keyboard_backspace</mat-icon>
      <mat-icon class="title-icon" style="display:flex;">school</mat-icon>
        <div style="display: flex;flex-direction: column;"><h1 class="title">Unidad {{unitData?.unit_order}}</h1>
          <p style="margin:0;">{{unitData?.name}}</p></div>
        </div>
  
    <img
      style="width: 30%; border-radius: 2rem; height: 6rem"
      src="../../assets/img/students.png"
    />
  </div>

          <!--add-student content -->  


            <div>
             <div class="timeThread">
                <div style='padding: 2rem 0rem;'>
                    <h1>Nueva Lección </h1>
                 </div>
                <div class='green-part'>
                    <h1 style="color:white;font-size: 6rem;">+</h1>
                </div>

              </div>
            </div>



            <div *ngFor="let lesson of lessonData">
              <div class="timeThread">
                <div style='padding: 2rem 0rem;'>
                  <h1>Lección {{lesson.lesson_order}}: {{lesson.title}}</h1>
                </div>
                <div>
                  <button> BUTTON ONE</button>
                  <button> BUTTON TWO</button>
                </div>
              </div>
            
 

<!-- ADD LESSON FORM GROUP-->        



<section *ngIf="showdialog" class="dialog-background">

  <div class="dialog">
    <div class="dialog-title-container">
      <h1><mat-icon class="title-icon-lt">add_circle_outline</mat-icon>  Crear Sección</h1>
      <mat-icon class="close-icon"  (click)="hideDialog()">backspace</mat-icon>
    </div>

    <form [formGroup]="AddLessonFormGroup">
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Lección Numero</mat-label>
        <input type="number" style='text-transform: capitalize;' matInput formControlName="lesson_order" >
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <input type="text" style='text-transform: capitalize;' matInput formControlName="title">
        <mat-hint>¡Escoge un titulo!</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Url del Video</mat-label>
        <input type="text" matInput formControlName="url">    
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" *ngIf="showdialog">
        <mat-label>Summary</mat-label>
          <textarea matInput formControlName="summary"></textarea>
    </mat-form-field>
      <br>      
    </form>


      <div class="dialog-button-container">
        <button class="add" (click)="addLesson()"> 
          <mat-icon>add_circle_outline</mat-icon>
          Crear Sección</button>

        <button class="cancel" (click)="hideDialog()">
          Cancelar
        </button>
      </div>
    </div>
  </section>


  
<!------------------------- EDIT ------------------------>

<section *ngIf="showeditdialog" class="dialog-background">
  <div class="dialog">
    <div class="dialog-title-container">
      <h1><mat-icon class="title-icon-lt">build</mat-icon>  Editar Sección</h1>
      <mat-icon class="close-icon"  (click)="hideEditDialog()"
        >backspace</mat-icon
      >
    </div>

    <form [formGroup]="AddLessonFormGroup">
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Lección Numero</mat-label>
        <input type="text" style='text-transform: capitalize;' matInput formControlName="lesson_order">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Titulo de la Lecciòn</mat-label>
        <input type="text" style='text-transform: capitalize;' matInput formControlName="title">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" *ngIf="showdialog">
        <mat-label>Url del Video</mat-label>
        <input type="text" matInput formControlName="url">    
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" *ngIf="showdialog">
          <mat-label>Summary</mat-label>
            <textarea matInput formControlName="summary"></textarea>
      </mat-form-field>
      <br>
      
    </form>

    <div class="dialog-button-container">
      <button class="export" (click)="editLesson()"> 
        <mat-icon>build</mat-icon> 
        Editar Sección</button>

      <button class="cancel" (click)="hideEditDialog()">
        Cancelar
      </button>
    </div>
  </div>

</section>
